# directories
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
build/
cache/
contracts/
coverage/
dist/
node_modules/
types/

# files
*.env
*.log
.DS_Store
.pnp.*
coverage.json
package-lock.json
pnpm-lock.yaml
repos
reports
scope.txt
yarn.lock
